Source: booth
Section: kde
Priority: optional
Build-Depends: cmake,
               debhelper,
               extra-cmake-modules,
               libkf5i18n-dev (>= 5.24.0~),
               libkf5kio-dev,
               libkf5notifications-dev (>= 5.24.0~),
               libkf5attica-dev,
               libmauikitfilebrowsing-dev,
               libqt5svg5-dev,
               mauikit-dev,
               qtbase5-dev (>= 5.5.0~),
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev
Standards-Version: 4.2.1
Homepage: https://invent.kde.org/maui/booth/
Vcs-Git: https://invent.kde.org/maui/booth/booth.git
Vcs-Browser: https://invent.kde.org/maui/booth/
Maintainer: Uri Herrera <uri_herrera@nxos.org>

Package: index
Architecture: any
Depends: qml-module-org-kde-mauikit, ${misc:Depends}, ${shlibs:Depends}
Description: A convergent camera app
 Booth is a camera app to record videos and take pictures and sync your camera photos.
 .
